@import "./reset";
@import "./variable";
@import './grid';
@import "./layout";
@import "./qa";

body{
  font-family: 'Noto Sans TC','Roboto', sans-serif;
}

h3{
  line-height: 54px;
  font-size: 36px;
}


